/* set max width and font for everything, center div holds everything in the middle */
.center {
    width:900px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

/* sets attributes for table grid with all tasks, operates as a table like grid */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 0%;
    gap: 0px;
    margin:0px;
    max-width: 800px;
    border-radius: 20px;
    overflow: hidden;
    /* background-color: #0f1729; */
    background-color: #788BFF;
}

/* sets attributes for all items in  */
.grid-item {
    /* background-color: hsl(222 47% 11% / 1); */
    background-color: #788BFF;
    padding: 15px;
    font-size: 100%;
    text-align: left;
    border: 1px solid transparent;
    font-size:17px;
    max-width: 250px;
    /* Font color change in grid */
    color: #E2FDFF
}

/* prioritises different attributes for header grid items */
#grid-header {
    /* background-color: #0f1729; */
    background-color: #788BFF;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
}

/* wrapper for parts inside the center */
#wrapper {
    /* background-color: #323948; */
    background-color: #BFD7FF;
    padding:5%;
    padding-top:1%;
    margin:5%;
    border-radius: 25px;
    /* border: 2px solid #828DF8; */
    border: 2px solid #9BB1FF;
}

/* attributes for overall backdrop and display */
.body {
    /* background-color: hsla(222 47% 11% / 1);
    color: #b3c5ef; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    width: 100%;
    background-color: #f6f6f6;
    color: #5465FF;
}

/* creates circles for tags */
.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

/* attributes for description tab that opens for each task */
#task-desc {
    grid-column-start: 1;
    grid-column-end: 6;
    min-height: 40px;
    padding-top: 15px;
    margin-left: 80px;
    padding-left: 26px;
    margin-right: 30px;
    border-radius: 10px;
    /* background-color: #1D2539; */
    background-color: #ebfeff;
    border: 3px solid #9BB1FF;
}

/* attributes for submission form */
.form-row {
    display: flex;
    align-items: center;
}

/* text color for all submission form elements */
.form-row input[type="text"],
.form-row select,
.form-row input[type="date"],
.form-row button {
    margin-right: 20px;
    padding:8px 8px 8px 8px;
    /* color: #B3C5EF; */
    color: #E2FDFF
}

/* attributes for the legend above task list */
#legend {
    display: flex;
    align-items: center;
    margin-top:15px;
    margin-bottom:15px;
}

#legend h3{
    margin-right: auto;
}

#legend .dot{
    margin: auto;
}

/* attributes for title */
#header {
    text-align: center;
    font-weight:900;
    font-size: 20px;
}

#header h1{
    margin: 15px auto 15px auto;
}

/* attributes for text input */
input[type=text] {
    width: auto;
    border: 2px solid #E2FDFF;
    border-radius: 6px;
    background-color: #5465FF;
    font-family: 'Poppins', sans-serif;
    font-size:15px;
    color: #E2FDFF;
    max-width: 150px;
}

/* attributes for dropdown tag selection */
select {
    width: auto;
    /* border: 2px solid #828DF8; */
    border: 2px solid #E2FDFF;
    border-radius: 6px;
    /* background-color: rgba(22, 17, 68, 0.8); */
    background-color: #5465FF;
    font-family: 'Poppins', sans-serif;
    font-size:15px;
}


/* Chaning placeholder color */
::placeholder {
    color: #E2FDFF;
}

/* attributes for date input */
input[type=date] {
    width: auto;
    border: 2px solid #E2FDFF;
    border-radius: 6px;
    background-color: #5465FF;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    min-width: 100px;
}

/* attributes for default submit button */
.defaultSubmit[type=submit] {
    width: auto;
    border: 2px solid #5465FF;
    border-radius: 12px;
    background-color: #5465FF;
    font-family: 'Poppins', sans-serif;
    font-size:25px;
    padding: 2px 17px 2px 17px;
    margin-right:0px;
    color: #E2FDFF
}

/* attributes for special edit button */
.editButton[type=submit] {
    background-color: #82F8AB;
    border: 2px solid #82F8AB;
    width: auto;
    border-radius: 12px;
    font-family: 'Poppins', sans-serif;
    font-size:25px;
    padding: 2px 17px 2px 17px;
    margin-right:0px;
    color: black;
}

/* changed checkbox colors */
:root {
    /* --checkbox-border-color: #8b8c89;
    --checkbox-checked-color: #274c77;
    --checkbox-hover-color: #a3cef1;
    --checkbox-disabled-bg-color: #d9d9d9; */
    --checkbox-border-color: #8b8c89;
    --checkbox-checked-color: #9BB1FF;
    --checkbox-hover-color: #E2FDFF;
    --checkbox-disabled-bg-color: #d9d9d9;
}

/* attributes for priority checkboxes */
.checkbox-prio{
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    margin: 6px;
    padding: 0;
    appearance: none;
    background-color: transparent;
    outline: none;
    transition: outline 0.1s;
}

/* adding star icon to priority checkboxes */
.checkbox-prio[type="checkbox"]:checked{
    background-size: cover;
    padding: 2px;
    background-image: url('https://cdn-icons-png.flaticon.com/512/1828/1828970.png');
}

.checkbox-prio[type="checkbox"]:not(:disabled):checked {
    border-color: var(--checkbox-checked-color);
    background-image: url('https://cdn-icons-png.flaticon.com/512/1828/1828884.png');
}

.checkbox-prio[type="checkbox"]:not(:checked) {
    background-size: cover;
    padding: 2px;
    background-image: url('assets/star.png');
}

/* attributes for edit checkboxes */
.checkbox-edit{
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    margin: 6px;
    padding: 0;
    appearance: none;
    background-color: transparent;
    outline: none;
    transition: outline 0.1s;
}

/* icon for priority checkboxes */
.checkbox-edit[type="checkbox"]:not(:checked) {
    background-size: cover;
    padding: 2px;
    background-image: url('assets/edit_uncheck.png');
}

/* attributes for description checkboxes */
.checkbox-comp{
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    margin: 6px;
    padding: 0;
    appearance: none;
    background-color: transparent;
    outline: none;
    transition: outline 0.1s;
}

/* icon for description checkboxes */
.checkbox-comp[type="checkbox"]:checked{
    background-size: cover;
    padding: 2px;
    background-image: url('assets/desc_check.png');
}

.checkbox-comp[type="checkbox"]:not(:disabled):checked {
    border-color: var(--checkbox-checked-color);
    background-image: url('assets/desc_check.png');
}

.checkbox-comp[type="checkbox"]:not(:checked) {
    background-size: cover;
    padding: 2px;
    background-image: url('assets/desc_uncheck.png');
}

/* attributes for deletion checkboxes */
.checkbox-del{
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    margin: 6px;
    padding: 0;
    appearance: none;
    background-color: transparent;
    outline: none;
    transition: outline 0.1s;
}

/* icon for deletion checkboxes */
.checkbox-del[type="checkbox"]:not(:checked) {
    background-size: cover;
    padding: 2px;
    background-image: url('assets/delete.png');
}

/* all small screen changes */
@media only screen and (max-width: 900px) {
    .center{
        width:auto;
        margin: 0px;
        padding: 0px;
    }

    #wrapper{
        margin:0px;
        padding:10px;
    }

    .form-row{
        flex-direction: column;
    }
    
    .form-row input[type="text"],
    .form-row select,
    .form-row input[type="date"],
    .form-row button {
        margin-right: 0;
        padding:8px 8px 8px 8px;
        min-width: 300px;
        max-width: 300px;
        margin-top:10px;
    }
    .form-row select{
        min-width: 320px;
        max-width: 320px;
    }
    #legend{
        font-size:small;
    }
    .grid-item{
        font-size:15px;
    }
    #grid-header{
        font-size:10px;
    }
    #task-desc{
        font-size:15px;
    }
}
